<%- include("partials/header"); -%>

<!--Start Home Page Background img-->
<div class="container-fluid parallax">

</div> 
<!--End Home Page Background img-->

<!-- <h1 class="centered"> <%= pageTitle %></h1> -->

<div class="container-fluid" >
  <div class="home">
    <div class="start">
      <p>Advokatska kancelarija "Kučević" ic typesetting, remaining essentially unchanged. It was popularised in
        the 1960s with the release of Letraset sheets containing Lorem amet consectetur adipisicing elit. Quisquam, modi.</p>
      <p>Naša pravna praksa of the printing and typesetting industry. Lorem Ipsum has been 
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      publishing software versions of Lorem Ipsum.</p>
      <a href="/about" class="btn btn-lg">Saznajte više</a>
    </div>
      
  </div> 
</div>


<%- include("partials/footer"); -%>