<%- include("partials/header"); -%>

<!--Start Home Page Background img-->
<div class="container-fluid bg-image"></div> 
<!--End Home Page Background img-->

<h1 class="centered"><%= subTitle %></h1>

<div class="container" id="sporovi">

    <div class="row">
        <div class="col-6">
            <img class="services-img img-fluid" src="/images/handShakeMans.jpg" alt="">
        </div>
        <div class="col-6">
            <p class="team-txt"><%= textCorp %></p>
            
            <p class="team-txt">Advokatska kancelarija "Kučević" ic typesetting, remainingessentially essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem amet consectetur adipisicing elit. Quisquam, modi.</p>
            <ul class="items">
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Lorem amet</li>
                <li>Quisquam</li>
                <li>Consectetur</li>
            </ul>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="team-txt">Nasa pravna praksa of the printing and typesetting industry. Lorem Ipsum has been 
                the industryprinter took a galley of
                publishing software versions of Lorem Ipsum.</p>
            <p class="team-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel libero iste ut doloremque provident minus sed, debitis maiores laboriosam ad nobis, eaque impedit ipsam dolor consequatur sit repudiandae fugit. Fugit natus magni corrupti esse, laborum sunt ipsum dignissimos eaque, omnis adipisci amet earum laudantium doloremque soluta perspiciatis voluptatem at autem, iste delectus quae culpa dolorum. Incidunt rem, nemo sint eaque perferendis provident temporibus magni iste sequi id mollitia molestias velit est tempora impedit, aspernatur maxime ipsum pariatur at voluptatem esse quis ab? Necessitatibus voluptates quo praesentium nulla maxime quidem quasi! Eaque nihil molestiae rem asperiores officiis sint animi iure ex!</p>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>