<%- include("partials/header"); -%>

<!--Start Home Page Background img-->
<div class="container-fluid bg-image"></div> 
<!--End Home Page Background img-->

<h1 class="centered"> <%= pageTitle %></h1>

<div class="container-fluid" id="team">
  <h2>Upoznajte vaš pravni tim</h2>

  <div class="about-team">
    <p>Advokatska kancelarija "Kucevic" ic typesetting, remainingessentially essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing, the 1960s with the release of Letraset sheets containing Lorem amet consectetur adipisicing elit. Quisquam, modi.</p>
    <p>Nasa pravna praksa of the printing and typesetting industry. Lorem Ipsum has been 
    the industryprinter the 1960s with the release of Letraset sheets containing took a galley of
    publishing software versions of Lorem Ipsum.</p>
  </div>

  <div class="row g-5 people">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img class="people-img img-fluid" src="/images/advokatica.jpg" alt="">
      <h5>Mirjana Kučević</h5>
      <p>Advokat</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img class="people-img img-fluid" src="/images/advokat1.jpg" alt="">
      <h5>Petar Petrović</h5>
      <p>Advokat - saradnik</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img class="people-img img-fluid" src="/images/advokat2.jpg" alt="">
      <h5>Jovan Jokić</h5>
      <p>Advokat - pripravnik</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img class="people-img img-fluid" src="/images/advokatica.jpg" alt="">
      <h5>Jelena Jovanović</h5>
      <p>Advokat</p>
    </div>
  </div>
</div>

<!-- CARDS col-4 TEAM -->

<!-- <div class="container" id="team">

  <h2>Upoznajte nas</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card text-white">
        <img src="/images/client1.png" class="card-img img-fluid" alt=""/>
        <div class="card-img-overlay">
          <h5 class="card-title">Petar Petrovic</h5>
          <p class="card-text">Advokat - saradnik</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white">
        <img src="/images/client1.png" class="card-img img-fluid" alt=""/>
        <div class="card-img-overlay">
          <h5 class="card-title">Petar Petrovic</h5>
          <p class="card-text">Advokat - saradnik</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white">
        <img src="/images/client1.png" class="card-img img-fluid" alt=""/>
        <div class="card-img-overlay">
          <h5 class="card-title">Petar Petrovic</h5>
          <p class="card-text">Advokat - saradnik</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--  IMAGE sa kvalifikacijama advokata   -->

<!-- <div class="container" id="team">

    <div class="row">
        <div class="col-md-4">
            <img class="person-img" src="/images/bussinesW.jpg" alt="">
            <h5 class="team-txt">Mirjana Kucevic<small>advokat</small></h5>
            <p class="team-txt"><i class="fa-solid fa-phone"></i>+381 (0)11 123 4567</p>
            <p class="team-txt"><i class="fa-solid fa-envelope"></i><a href="mailto:tttamarita@yahoo.com">e-mail: kontakt@kancelarija.rs</a></p>   
        </div>
        <div class="col-md-8">
            <h6 class="team-txt">Rodjena</h6>
            <ul>
                <li>1980.godine</li>
            </ul>
            <h6 class="team-txt">Obrazovanje</h6>
            <ul>
                <li>Pravni fakultet Univerziteta u Beogradu</li>
                <li>Doktorant na Pravnom fakultetu</li>
            </ul>
            <h6 class="team-txt">Akademska i strucna znanja</h6>
            <ul>
                <li>Strucni konsultant</li>
            </ul>
            <h6 class="team-txt">Oblasti prakse</h6>
            <ul>
                <li>Kompanijsko pravo</li>
                <li>Privredno pravo</li>
                <li>Nasledno pravo</li>
            </ul>
            <h6 class="team-txt">Jezici</h6>
            <ul>
                <li>Engleski</li>
            </ul>
            <h6 class="team-txt">Clanstvo</h6>
            <ul>
                <li>Advokatska komora Beograda</li>
            </ul>
        </div>
    </div>
    <hr class="light">
    <div class="row">
        <div class="col-md-4">
            <img class="person-img" src="/images/advokat1.jpg" alt="">
            <h5 class="team-txt">Petar Petrovic<small>advokat</small></h5>
            <p class="team-txt"><i class="fa-solid fa-phone"></i>+381 (0)11 123 4567</p>
            <p class="team-txt"><i class="fa-solid fa-envelope"></i><a href="mailto:tttamarita@yahoo.com">e-mail: kontakt@kancelarija.rs</a></p>   
        </div>
        <div class="col-md-8">
            <h6 class="team-txt">Rodjen</h6>
            <ul>
                <li>1970.godine</li>
            </ul>
            <h6 class="team-txt">Obrazovanje</h6>
            <ul>
                <li>Pravni fakultet Univerziteta u Beogradu</li>
                <li>Doktorant na Pravnom fakultetu u Beogradu</li>
                <li>Master na Pravnom fakultetu u Beogradu</li>
            </ul>
            <h6 class="team-txt">Akademska i strucna znanja</h6>
            <ul>
                <li>Strucni konsultant</li>
                <li>Saradnik</li>
            </ul>
            <h6 class="team-txt">Oblasti prakse</h6>
            <ul>
                <li>Kompanijsko pravo</li>
                <li>Privredno pravo</li>
                <li>Nasledno pravo</li>
                <li>Radno pravo</li>
            </ul>
            <h6 class="team-txt">Jezici</h6>
            <ul>
                <li>Engleski</li>
            </ul>
            <h6 class="team-txt">Clanstvo</h6>
            <ul>
                <li>Advokatska komora Beograda</li>
                <li>Medjunarodna asocijacija advokata</li>
            </ul>
        </div>
    </div>
    <hr class="light">
    <div class="row">
        <div class="col-md-4">
            <img class="person-img" src="/images/advokatica.jpg" alt="">
            <h5 class="team-txt">Jelena Jovanovic<small>pripravnik</small></h5>
            <p class="team-txt"><i class="fa-solid fa-phone"></i>+381 (0)11 123 4567</p>
            <p class="team-txt"><i class="fa-solid fa-envelope"></i><a href="mailto:tttamarita@yahoo.com">e-mail: kontakt@kancelarija.rs</a></p>   
        </div>
        <div class="col-md-8">
            <h6 class="team-txt">Rodjena</h6>
            <ul>
                <li>1980.godine</li>
            </ul>
            <h6 class="team-txt">Obrazovanje</h6>
            <ul>
                <li>Pravni fakultet Univerziteta u Beogradu</li>
                <li>Doktorant na Pravnom fakultetu</li>
            </ul>
            <h6 class="team-txt">Akademska i strucna znanja</h6>
            <ul>
                <li>Mladji saradnik</li>
                <li>Pripravnik</li>
            </ul>
            <h6 class="team-txt">Oblasti prakse</h6>
            <ul>
                <li>Kompanijsko pravo</li>
                <li>Privredno pravo</li>
            </ul>
            <h6 class="team-txt">Jezici</h6>
            <ul>
                <li>Engleski</li>
            </ul>
            <h6 class="team-txt">Clanstvo</h6>
            <ul>
                <li>Advokatska komora Beograda</li>
            </ul>
        </div>
    </div>
</div> -->


<!-- OUR TEAM CAROUSEL HORIZONTAL CARDS-->

<!-- <div class="container" id="team">
    
    <div id="carouselCards" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-4 bg-light">
                  <img src="images/advokatica.jpg" class="card-img img-fluid" alt="Advokat">
                </div>
                <div class="col-md-8 bg-light">
                  <div class="card-body">
                    <h5>Mirjana Kučević</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper">
            <div class="card"> 
              <div class="row">
                <div class="col-md-4 bg-light">
                  <img src="images/advokat2.jpg" class="card-img img-fluid" alt="Advokat">
                </div>
                <div class="col-md-8 bg-light">
                  <div class="card-body">
                    <h5>Petar Petrović</h5>
                    <p class="card-text">Some quick example text to  example ample text totexample text tot to build on the Some  example text to build on the Some build on the Some quick example text to build on the Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-4 bg-light">
                  <img src="images/advokatica.jpg" class="card-img img-fluid" alt="Advokat">
                </div>
                <div class="col-md-8 bg-light">
                  <div class="card-body">
                    <h5>Snežana Marić</h5>
                    <p class="card-text">Some quick example text to  example text to build on the Some  example text to build on the Some build on the Some quick example text to build on the Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCards" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCards" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div> -->
  <!-- END OUR TEAM HORIZONTAL CARDS-->
  
<%- include("partials/footer"); -%>