body {
    margin: 0;
    overflow-x: hidden;
      /* font-family: 'Roboto Serif', serif; */
      /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Merriweather', serif;
    color: #2b4c65;
    position: relative; 

    /* FONTOVI rukopis*/
    /* font-family: 'Italianno', cursive; nije lose */
    /* font-family: 'Mea Culpa', cursive; dolazi u obzir */ 
}
.txt {
    color: #1d1c22;
    color: #ffffff;
    color: #6b8ba4;
    color: #95b4cc;
    color: #2b4c65;
  }
  /* NAVBAR*/
  .navbar {
    box-shadow: 5px 8px 20px #2b4c65;
    /* background-color: rgb(223, 191, 159, 0.6) !important; */
    /* background: linear-gradient(to right, #2b4c65 0%, #95b4cc 90%); */
    padding: 0 10px;
    text-transform: uppercase;
  }
  .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    padding-left: 20px;
    color: #2b4c65;
    
  }
  .navbar-brand small {
    display: block;
    font-size:15px; 
    color: #6b8ba4;
  }
  
  .nav-item {
    /* display:block;  mozda stavi na manjim ekranima*/
    font-size: 15px;
    margin: auto 20px;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #2b4c65;
  }
  .nav-link:hover {
    color: #6b8ba4;
  }
  
  /* .nav-link {
    display:block;  mozda stavi na manjim ekranima
    font-size: 15px;
    margin: auto 20px;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #2b4c65;
  } */
  /* a.nav-link:hover {
    color: #6b8ba4;
  } */
  .dropdown-menu {
    display: none;
    margin: 0 auto;
    padding-top: 15px;
    border: none;
    /* background-color:#95b4cc; */
    /* background-color:#aec8dc;ovo */ 
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu:hover {
    display: block;
  }
  .dropdown-item {
    padding: 10px 10px 10px 15px;
    font-size: 14px;
  }
  .dropdown-item:hover {
    /* background-color: #6b8ba4; */
    background-color:#95b4cc;
  }
 
  .dropdown-menu li {
    padding-left: 0;
  }
  
/* ALL PAGEs BACKGROUND IMG*/
.centered {
    padding-top: 160px;
    position: relative;
    text-align: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 50px;
    font-weight: 500;
    color: #2b4c65;
  }
  .parallax {
    background-image: url("/images/blindjustice.jpg");
    height: 120vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    z-index: -1; 
  }

  .bg-image {
    background-image: url("/images/paragraph.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
  }
  /*HOME PAGE*/
.aboutus2 {
  margin-bottom: 60px;
}
.btn {
  background-color: transparent;
  color: #2b4c65;
  font-size: 20px;
  padding: 15px 25px;
  border: 3px solid #aec8dc;
  border-radius: 0;
 }
 .btn:hover {
  background-color: #aec8dc;
 }

  /* CONTAINER-FLUID i CONTAINER */
#home, #about, #services, #team, #contact,
#korporativno, #nekretnine, #sporovi, #radno {
  padding: 200px 20px 100px;
  text-align: center;
  margin-bottom: 0;
}
  /* ABOUT*/
.aboutus,
.aboutus2 {
  text-align: center;
  letter-spacing: 2px;
  padding: 0 250px;
}
  /* SERVICES*/
.practice {
  margin-top: 0;
}
.practice:hover {
  transform: scale(1.1);
  transition: transform .5s  ease;
}
.practice i {
  font-size: 40px;
  padding: 15px;
}
h2, h3 {
  padding-bottom: 15px;
}
h3 {
  font-size: 26px;
}
.items {
  list-style-type: square;
  list-style-position: outside;
  font-size: 20px;
}

li {
  text-align: left;
  padding-left: 10px;
}

/*TEAM*/

h3, h5, h6 {
  text-transform: uppercase;
  padding-top: 15px;
}
.people p {
  text-transform: uppercase;
  font-size: 14px;
}
/* h5.team-txt {
  letter-spacing: 2px;
  padding-top: 20px;
  margin: 0;
} */
.about-team {
  padding: 20px;
}
.about-team p {
  padding: 0px 50px;
  text-align: center;
  letter-spacing: 2px;
}
/* .about-team-txt {
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
} */

.people,
.col-lg-3,
.col-md-4,
.col-sm-6 {
  padding: 30px;
  margin-top: 0px;
}
#team .col-md-4 small {
  display: block;
  font-size:15px; 
  color: #6b8ba4;
  padding: 5px 80px;
}
#team .col-md-8 {
  padding: 20px 100px;
}
.team-img {
  width: 500px;
  height: 350px;
  filter: drop-shadow(6px 6px 8px gray);
  padding-bottom: 20px;
}

#team i {
  font-size: 18px;
  padding: 5px;
  color: #6b8ba4;
}
#team .light {
  width: 600px;
  padding: 20px;
  margin: auto;
}
.people {
  padding: 50px;
}
.people-img {
  width: 250px;
  height: 300px;
  border-radius: 3px;
  /* filter: drop-shadow(3px 3px 4px gray); */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.people-img:hover {
  width: 250px;
  height: 300px;
  filter: drop-shadow(3px 3px 4px gray);
}
/* .person-img {
  width: 300px;
  height: 400px;
  filter: drop-shadow(3px 3px 4px gray);
} */
.card {
  width: 300px;
  height: 400px;
  border: none;
}

.card-img-overlay {
  padding-top: 230px;
  text-align: left;
}
.card-text {
  /* text-align: left; */
  text-transform: uppercase;
  font-size: 14px;
}
.card-img {
  /* width: 300px;
  height: 400px; */
  filter: drop-shadow(3px 3px 4px gray);
}
/* .card-title {
  padding-top: 200px;
  text-align: left;
}
.card-text {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
} */

/* CAROUSEL*/
/* .carousel {
  padding-top: 30px;
}
.carousel-inner {
 max-width: 900px;
 margin: auto;

}
h3, h5 {
  color:#666699;
}
h5 {
  font-size: 25px;
  padding: 10px 0;   
} */

/* .bg-light {
  padding: 0;
}

.card-img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 0;
}

.card-text {
  line-height: 1.8;
}
.carousel-control-next {
  font-size: 200px;
} */
/* END CAROUSEL*/

/*CONTACT*/

#contact i {
  font-size: 22px;
  padding: 16px 20px;
  color: #6b8ba4;
}
a {  
  color: #6b8ba4;
  text-decoration: none;
}
a:hover,
.social i:hover {
  color: #95b4cc;
}

.col-md-4 {
  text-align: left;
}
.light {
  color: #1d1c22;
  border-top: 2px solid;
}

.ratio {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#contact .col-md-8 {
  padding: 20px 100px 20px 200px;
}

#contact, p {
  font-size: 18px; 
  margin-bottom: 0;
}

  /* FOOTER*/

.footer {
  background-color: #1d1c22;
  color: #6b8ba4;
  text-align: center;
  padding: 40px 30px 10px;
  margin-bottom: 0;
}
.footer .col-md-4 {
  text-align: center;
  margin: 20px auto;
}
.footer-brand {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 5px;
  /* padding-top: 30px; */
  color: #2b4c65;
  text-transform: uppercase;
}
.footer-brand small {
  display: block;
  font-size: 14px; 
  letter-spacing: 3px;
  color: #6b8ba4;
  padding: 5px 22px;
}

.footer p {
  margin-bottom: 0;
  padding-top: 5px;
  text-align: left;
  /* text-align: center; */
}

.social {
  padding-top: 20px; 
}
.social i {
  font-size: 26px;
  padding: 20px;
  color: #6b8ba4;
}
.social i:hover {
  color: #95b4cc;
}
.footer-link,
.footer h6 {
  padding-left: 60px;
}
.footer h6 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}
.footer-items {
  margin: 0 auto;
  border: none;
  list-style-type: none;
  padding-left: 60px;
}

.footer-items li,
.footer-contact p {
  padding: 8px 0px 0px 0px;
  font-size: 14px;
}
.footer-item:hover {
  color: #95b4cc;
}

/*FOOTER CONTACT*/
.footer-contact {
  text-align: left;
  font-size: 12px;
}
.footer-contact i {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 60px;
  color: #6b8ba4;
}

/*COPYRIGHT*/

.copyright {
  font-size: 14px;
  text-align: center !important;
}
.text-dark {
  font-size: 14px;
  text-decoration: none;
  color: #2b4c65 !important; 
}